@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
.products-preview2{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
 }
 
 .products-preview2 .preview2{
    display: none;
    padding:2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin:2rem;
    width: 40rem;
 }
 
 .products-preview2 .preview2.active{
    display: inline-block;
 }
 
 .products-preview2 .preview2 img{
    height: 15rem;
 }
 
 .products-preview2 .preview2 .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:#444;
    font-size: 4rem;
 }
 
 .products-preview2 .preview2 .fa-times:hover{
    transform: rotate(90deg);
 }
 
 .products-preview2 .preview2 h3{
    color:#444;
    padding:.5rem 0;
    font-size: 2.5rem;
 }
 
 .products-preview2 .preview2 .stars{
    padding:1rem 0;
    font-size: 1rem;
 }
 
 .products-preview2 .preview2 .stars i{
    color:#27ae60;
 }
 
 .products-preview2 .preview2 .stars span{
    color:#999;
 }
 
 .products-preview2 .preview2 p{
    line-height: 1;
    padding:1rem 0;
    font-size: 1rem;
    color:#777;
 }
 
 .products-preview2 .preview2 .price{
    padding:1rem 0;
    font-size: 1.5rem;
    color:#27ae60;
 }
 
 .products-preview2 .preview2 .buttons{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
 }
 
 .products-preview2 .preview2 .buttons a{
    flex:1 1 16rem;
    padding:1rem;
    font-size: 1rem;
    color:#444;
    border:.1rem solid #444;
 }
 
 .products-preview2 .preview2 .buttons a.cart{
    background: #444;
    color:#fff;
 }
 
 .products-preview2 .preview2 .buttons a.cart:hover{
    background: #111;
 }
 
 .products-preview2 .previe2 .buttons a.buy:hover{
    background: #444;
    color:#fff;
 }
 
 
 @media (max-width:991px){
 
    html{
       font-size: 55%;
    }
 
 }
 
 @media (max-width:768px){
 
    .products-preview .preview img{
       height: 25rem;
    }
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
 }